name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20' # Specify the Go version

      - name: Build
        run: go build -o crypto-prices-app ./cmd/server

      - name: Deploy to Production
        run: |
          # Add your deployment commands here
          echo "Deploying to production..."